.title_xxl {
    font-size: 4rem;
    font-weight: 600;
    line-height: 112.5%;
}

.title_xl {
    color: var(--color-12);
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 600;
    line-height: 125%;
}

.text-l {
    font-weight: 400;
    font-size: 1.5rem; /* 24px */
    font-family: Roboto;
    line-height: 150%;
    color: var(--color-5);
}

.price {
    font-family: Roboto;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 133.333%;
    color: var(--color-8);
}

@media (max-width: 1200px) {
    .title_xxl {
        font-size: 48px;
    }
    .text-l {
        font-size: 18px;
    }
}


@media (max-width: 900px) {
    .title_xxl {
        font-size: 32px;
    }
    .text-l {
        font-size: 18px;
    }
}
